numpy
scipy
pandas
opencv-python
Pillow
scikit-image
matplotlib
tqdm
pyyaml
rich
omegaconf
hydra-core
albumentations
kornia
timm
lightning
torchmetrics
lpips
piq
torch-fidelity
segmentation-models-pytorch
tensorboard
wandb
